#launch_button {
    -fx-background-color: 
        #000000,
        linear-gradient(#7c04d2, #68057e),
        linear-gradient(#3f0452, #4a045f),
        linear-gradient(#370449, #22012c);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-weight: bold;
    -fx-pref-width: 158;
    -fx-pref-height: 51;
    -fx-font-size: 18;
}
#back_button {
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 100;
    -fx-pref-height: 35;
    -fx-font-size: 15;
}
#fight_button {
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 373;
    -fx-pref-height: 55;
    -fx-font-size: 25;
}
#heal_button {
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 373;
    -fx-pref-height: 55;
    -fx-font-size: 25;
}
#inventory_button {
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 373;
    -fx-pref-height: 55;
    -fx-font-size: 25;
}
#escape_button {
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 373;
    -fx-pref-height: 55;
    -fx-font-size: 25;
}
#talk_button {
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 306;
    -fx-pref-height: 85;
    -fx-font-size: 18;
}
#text_field {
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 158;
    -fx-pref-height: 27;
    -fx-font-size: 13;
}
#progress_bar {
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-pref-width: 100;
    -fx-pref-height: 20;
    -fx-accent: red;
}


