.combo-box {
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
}

.button {
    -fx-background-color: #4CAF50; /* green */
    -fx-font-size: 15px;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #45a049; /* dark green */
}